NODE_ENV=production
PORT=4000
CLIENT_URL=http://your-domain-or-ip:3000

DATABASE_URL=postgresql://postgres:REPLACE_WITH_DB_PASSWORD@postgres:5432/punchly?schema=public

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
