@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
layer(base);
@import 'tailwindcss';

@theme {
  --color-mustard: #dda15e;
  --color-burnt: #bc6c25;
  --color-cream: #fefae0;
  --color-rust: #884a39;

  --font-sans: Open Sans, ui-sans-serif, system-ui, sans-serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn {
    @apply flex cursor-pointer items-center justify-center gap-2 rounded-md px-4 py-2 font-medium text-white transition-colors duration-200;
  }

  .btn-rust {
    @apply bg-rust hover:bg-rust/80;
  }

  .btn-gray {
    @apply bg-gray-500 hover:bg-gray-700;
  }

  .btn-green {
    @apply bg-green-600 hover:bg-green-700;
  }

  .btn-red {
    @apply bg-red-500 hover:bg-red-700;
  }
}
